{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "react", "react-hooks", "import"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    //prettier
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "none" }],
    "jsx-quotes": ["error", "prefer-double"],
    
    //import
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],

    //  react

    "react/sort-comp": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/jsx-curly-spacing": "error",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-key": "error",
    "react/no-array-index-key": "warn",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",

    // react-hooks

    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    //jsx-a11y/
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    // others
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "[I]\\w+^_"
      }
    ],
    "no-console": "off",
    "no-debugger": "warn",
    "no-nested-ternary": "off",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "linebreak-style": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ]
  }
}
